<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="H2H" >
<test name="Selenium">
	<groups>
	<run>
	  <exclude name=""></exclude>
	</run>
	</groups> 
<classes>
   <class name="user_registration_ADMIN.User_registration"></class>
   <!--<class name="h2h.TS_001_ADMIN"></class>
   <class name="h2h.TS_002"></class>
   <class name="h2h.TS_003"></class>-->
</classes>
</test>
</suite>